body {
  background-color: #c2caf5;
  font-family: Arial, Helvetica, sans-serif;
  color: #404249;
}

h1 {
  color: #e651df;
  border: 4px dashed green;
}

h1,
#image {
  text-align: center;
}

h2 {
  color: #e651df;
  border-bottom: 10px dotted pink;
  border-left: 10px dotted pink;
  width: fit-content;
}

.lasagna-em {
  font-size: large;

  padding: 20px 8px;
  margin: 10px auto;
  text-align: center;
}

.description,
.ingredients,
.steps {
  margin-left: 20px;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
}

button {
  padding: 20px 8px;
}
